body{
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    place-content: center;
    min-height: 100vh;
}
div{
    max-width: 370px;
    background-color: white;
    padding: 10px;
    border-radius: 25px;
}
img{
    width: 100%;
    border-radius: 25px;
}
h1 {
    font-size: 23px;
    text-align: center;
    font-weight: 700;
}
p {
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    padding-bottom: 5%;
}